*{
 background-image: ;   font-family: "Zalando Sans Expanded", "Arial", "Helvetica", "sans-serif";
 background-image: url(./images/beige.jpg);
 width: 900;
 height: 900;
}
body {
    background-color: #f5e2c6;
    color: rgb(121, 77, 31);
    font-family: "Zalando Sans Expanded", "Arial", "Helvetica", "sans-serif";
    font-weight: "700";
    font-size: "24px";
    font-style: normal;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 1.2;
    
}
    h1 {
      color: rgb(186, 112, 0);
      font-family: "zalando sans expanded", "arial", "helvetica";
    font-weight: "900";
     font-size: "70px";
     font-style: bolder;
     text-align: center;
     margin-bottom: 0px 0px 60px 0px;
     border: 10px solid tan;
     width: 95%;
     height: 10%;
     
   
}
h2 {
    color: rgb(186, 112, 0);
    font-family: "zalando sans expanded", "arial", "helvetica";
    font-size: "26px";
    font-weight: 800;
    font-style: oblique; 
    text-align: center;
    border-bottom: 3px solid tan;

    }
    h3{
        font-size: xx-large;
        font-weight: 800;
        border-top: 2px solid tan;
        border-bottom: 3px solid tan;
    }
         
footer{
    color: rgb(186, 112, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
    line-height: normal;
    text-align: center; 
    border-top: 5px solid rgb(186, 112, 0);
    line-height: 1.8;
}

a:hover{
    color: black;
    text-decoration: underline;}
                        
a{
    font-family: "Economica", sans-serif;
     font-weight: 400;
     font-style: italic;
    color:rgb(186, 112, 0) ;}
                        
.oat{
        color:rgb(186, 112, 0);
        font-family:"Zalando Sans Expanded", "Arial", "Helvetica", "sans-serif"; 
        font-size: 19px;
        font-weight: 700;
        font-style: normal;}

 a:active{color: rgb(186, 112, 0);}
                        
 a:visited{color: rgb(99, 67, 18);}

img{
   height: 400px;
   width: 350px;
   /*padding-left: 55%;*/
    background-color: rgb(247, 198, 125);
    border-color: rgb(247, 198, 125);

    /*position:sticky;*/


}
#oat-link{ 
        color:rgb(186, 112, 0);
        font-family:"Zalando Sans Expanded", "Arial", "Helvetica", "sans-serif"; 
        font-size: 19px;
        font-weight: 700;
        font-style: normal;}

#home{color:rgb(186, 112, 0);
        font-family:"Zalando Sans Expanded", "Arial", "Helvetica", "sans-serif"; 
        font-size: 25px;
        font-weight: 700;
        font-style: normal;
   
    }
#home2 {color:rgb(186, 112, 0);
        font-family:"Zalando Sans Expanded", "Arial", "Helvetica", "sans-serif"; 
        font-size: 25px;
        font-weight: 700;
        font-style: normal;}
    
                        
.oatmilk {
    border-top:6px solid tan;
    margin-top: 3;
    padding: 3%;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.img-tractor{
    background-image: url(./images/tractor.jpg); alt:" photo of beige and brown field with tractor plowing";
    width: 500px;
    height: 590px;
    border: 5px solid rgb(186, 112, 0);
    margin-right: 200px;
    padding-bottom: 5%;
    position: static;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.cookie{
    justify-content: flex-start;
}

.flex-image{
    margin-left: 150px;
}

.cereal{
    margin-left: 500px;
}